
pip
cython
ipython
ipyparallel>=6.0.2
scipy>0.10
numpy>=1.9
numba>=0.37
pandas>=0.16
h5py
pysam>=0.10.0
setuptools
mpi4py
cutadapt

sphinx
nbconvert
jupyter
notebook

#########################################################################
# This file is used to designate the python installation requirements
# and is used in setup.py
#########################################################################