pip
sphinx
cython
ipython
ipyparallel>=6.0.2
scipy>0.10
numpy>=1.9
numba>=0.31
pandas>=0.16
h5py
networkx
dask
dask[array]
pysam>=0.10.0
setuptools
cutadapt=1.9

#nbconvert
#ipykernel
#notebook>=5.0
#jupyter>=1.0.0
