pip
sphinx
cython
ipython
ipyparallel>=6.0.2
scipy>0.10
numpy>=1.9
numba>=0.31
pandas>=0.16
h5py
## networkx version pegged to 1.7 to prevent rtfd build from crashing.
networkx<=1.7
dask
dask[array]
pysam>=0.10.0
setuptools
## Cutadapt version pegged to 1.9 to prevent rtfd build from crashing.
cutadapt<=1.9

#nbconvert
#ipykernel
#notebook>=5.0
#jupyter>=1.0.0
