cython
h5py
ipython>=5.3
ipyparallel>=5.1
ipykernel>=4.5
jupyter_client>=5.0
jupyter
notebook>=4.3
mpi4py
nbconvert>=5.1.1
numpy>=1.9
numba>=0.31
llvmlite>=0.16
pandas>=0.16
pip>=8.1
scipy>0.10
sphinx
networkx
